/********************************************************/
/* header                                               */
/********************************************************/
html{
  z-index: 0;
}

body{
  z-index: 1;
}

body,html{
  display: block;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
}

/********************************************************/
/* header                                               */
/********************************************************/
.page-header{
  position: fixed;
  height:100px;
  text-align: center;
  z-index:2;
  margin:auto;
  right:0px;
  left:0px
}

.page-header li{
  display:inline-block;
  font-size:25px;
  font-family: 'Anton', sans-serif;
  margin-right:35px;
  z-index: 4;
}
.page-header a{
  text-decoration: none ;
  color: black;
}


/********************************************************/
/* home silede                                          */
/********************************************************/
.title h1{
  font-size:80px;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.title p{
  font-size:40px;
  font-family: 'Anton', sans-serif;
}

.title{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:600px;
  height:80%;
  margin:auto;
  text-align:center;
}

/********************************************************/
/* profile silede                                       */
/********************************************************/
.profile{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  height:85%;
}
.profile-wrapper h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.profile img{
  max-width: 300px;
  width:300px;
  height: auto;
  border-radius:10%;
  display: block;
  margin:0 auto;
}

.profile-wrapper{
  width:590px;
  margin-right: auto;
  margin-left: auto;
}

/********************************************************/
/* skill silede                                         */
/********************************************************/
.skill{
  position:absolute;
  top:0px;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  height:85%;
}

.skill-content{
  display: table-cell;
  text-align: :center;
  vertical-align: middle;
}

.skill h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.skill h3{
  font-family: 'Anton', sans-serif;
}

.skill-wrapper p{
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.skill img{

  max-width: 150px;
  width:200px;
}

.skill-wrapper{
  width:800px;
  left:0;
  right:0;
  margin:auto;
  text-align: center;
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(3, 200px);
}

/********************************************************/
/* Works silede                                         */
/********************************************************/
.work{
  position: relative;
  top:60px;
}

.work a{
  cursor:pointer;
}

.work h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.work-image{
  text-align: center;
}

.work img{
  display: inline-block;
  width:200px;
  height:200px;
  object-fit: cover;
  margin-left:20px;
  border-radius:4%;
}

.works-wrapper{
  position: absolute;
  background-color: #eee;
  margin-top: 10px;
  width:100%;
}

.works{
  display: none;
  margin-left: 80px;
  margin-right: 80px;
}
.works #work1{
  display: none;
}
.works #work2{
  display: none;
}
.works #work3{
  display: none;
}
.works h4{
  margin-top:10px;
  font-family: 'Anton', sans-serif;
  text-align: center;
}

.works p{
 display: table-cell;
}

.works-left{
  position: relative;
  width:140px;
  height:auto;
}
.works-right{
  width:600px;
}

/********************************************************/
/* Contact silede                                       */
/********************************************************/
.contact{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  height:80%;
}

.contact-wrapper{
  text-align: center;
}

.contact-wrapper h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
}
